{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
    <h1>Nos biens disponibles</h1>

    {# <div>
        PROVISOIRE:
        Ici, les images ne sont pas encore affichées, juste le nom du fichier (modifier quand on fera la déco)
    </div> #}


    {# présentation sous forme de cards #}
    <div class="row row-cols-1 row-cols-md-3">
    {% for annonce in annonces %}
    <!--Card start-->
  <div class="col mb-4">
    <div class="card h-75">
      <!--Card image-->
      <div class="view overlay img-fluid h-50">
        <img class="card-img-top h-100 w-100" style="overflow: hidden; /*transform: translate(0, -50%);*/ object-fit: cover;" src="{{ asset('/annonce/photo/' ~ annonce.photo) }}" alt="{{ annonce.categorie ~ '_' ~ annonce.type ~ '_' ~ annonce.id }}">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

                      <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">{{ annonce.titre }}</h4>
                <!--Text-->
                <p class="card-text">{{ annonce.description }}</p>
                <div>
                <p class="card-text">Prix : {{ annonce.prix }} €</p>
                </div>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <a href="{{ path('annonce_show', {'id': annonce.id}) }}" type="button" class="btn btn-light-blue btn-md">Plus d'infos</a>
              </div>

    </div>
    <!-- Card -->
  </div>
  <!--Card end-->
  {% else %}
    <div>
        <p>Aucune annonce disponible.</p>
    </div>
  {% endfor %}
</div>

    {# présentation sous forme de tableau #}
{#     <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Photo</th>
                <th>Categorie</th>
                <th>Type</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.titre }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.prix }}</td>
                <td>{{ annonce.photo }}</td>
                <td>{{ annonce.categorie }}</td>
                <td>{{ annonce.type }}</td>
                <td>{{ annonce.createdAt ? annonce.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce.updatedAt ? annonce.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('annonce_show', {'id': annonce.id}) }}">show</a>
                    <a href="{{ path('annonce_edit', {'id': annonce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucune annonce disponible.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    <a href="{{ path('annonce_new') }}">Nouvelle annonce</a>
{% endblock %}
