{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block body %}
    	<h1 class="mx-auto text-center">Create new Annonce</h1>

    {# {{ include('annonce/_form.html.twig') }} #}
    <div class="text-center">
    {{ form_start(annonceForm) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(annonceForm) }}
    </div>

    <div class="col-6 mx-auto">
        <div class="row">
            {{ form_row(annonceForm.titre) }}
        </div>
        <div class="row" id="some-custom-id">
            {{ form_row(annonceForm.description) }}
        </div>
        <div class="row">
            {{ form_row(annonceForm.prix) }}
        </div>
        <div class="row">
            {{ form_row(annonceForm.photo) }}
        </div>
        <div class="row">
            {{ form_row(annonceForm.categorie) }}
            {# {{ form_row(annonceForm.categorie, { label: "Catégorie (vente ou location)" }) }} #}
        </div>
        <div class="row">
            {{ form_row(annonceForm.type) }}
            {# {{ form_row(annonceForm.type, { label: "Type (maison ou appartement)" }) }} #}
        </div>
        <div>
            <button type="submit" class="btn">Publier</button>
        </div>
    </div>
	{{ form_end(annonceForm) }}
	</div>

    <a href="{{ path('annonce_index') }}">back to list</a>
{% endblock %}
