{% extends 'base.html.twig' %}

{% block title %}{{ annonce.titre }} | Immo Super, (presque) mieux que Super Immo !{% endblock %}

{% block body %}
    <h1>Annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ annonce.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ annonce.prix }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                 {% if annonce.photo is not same as(null) %}
                      <td><img src="{{ asset('/annonce/photo/' ~ annonce.photo) }}" class=""></td>
                {% else %}
                      <td>Aucune photo disponible.</td>
                {% endif %}>
                {# <td>{{ annonce.photo }}</td> #}
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ annonce.categorie }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ annonce.type }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ annonce.createdAt ? annonce.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ annonce.updatedAt ? annonce.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('annonce_index') }}">back to list</a>

    <a href="{{ path('annonce_edit', {'id': annonce.id}) }}">edit</a>

    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
